h1{
    font-family: 'League Spartan', sans-serif;
}
body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #beeee2;
    font-size: 50px;
    text-decoration: line-through;
    letter-spacing: 5px;
    text-align: justify;
}

h1{
    border: 10px solid rgb(190, 238, 226);
    margin: 30px;
    padding: 60px;
    width: 60px;
    height: 60px;
}

img {
    width: 400px;
    height: auto;
}

.highlight {
    background-color: gray;
}

#introduction {
    font-size: 10px
}

#box:checked + label {
    color: green;
}

/* #page-title:hover {
    font-size: 300px;
    color: pink;
} */

.links:hover {
color: purple;
}

button:disabled {
    color: orange;
    background: black;
}

/* a:visited {
    background-color: rgb(57, 170, 123);
}

a {
    background-color: white;
} */

a[href="https://twitter.com/RyanJCodes"] {
    color: cyan;
}

a:active {
    color: pink;
}

P::first-letter {
    color: black;
}

P::first-line {
    color: green;
}

li::marker {
    color: green;
}

/* p {
    position: relative;
 }
 p::after {
    content: "";
    background-color: palegoldenrod;
    height: 20px;
    width: 50%;
    position: absolute;
    left: 40px;
    z-index: -1;
 } */

.parent {
    display: flex;
    justify-content: space-around;
}

.child {
  
}

 /* .div-element {
    height: 100px;
    width: 100px;
    color: white;
    background-color: red;
 }
 .span-element {
     display: inline-block;
    height: 100px;
    width: 100px;
    color: white;
    background-color: blue;
 } */